/* Estilos generales */

.container-admin {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
}

/* Encabezado */
.header-admin {
  grid-column: span 2;
  text-shadow: #938f8f 1px 0px 10px;
  background: #715447;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header-admin h1 {
  color: #362822;
}

.header-admin img {
  width: 50px;
  height: 50px;
}

/* Barra lateral */
.sidebar-admin {
  background: #936f502e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-admin button {
  background: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18pt;
  transition: background 0.3s;
}

.sidebar-admin img {
  width: 50px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.sidebar-admin button:hover {
  background: #333;
}

/* Contenido principal */
.content-admin {
  background: #f9efe3;
  padding: 20px;
  position: relative;
}

.search-section-admin {
  display: flex;
  align-items: center;
}

.search-section-admin input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Tabla */
.table-section-admin {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.column-admin-carer {
  background: #936f50;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.column-admin-bison {
  background: #f2d5bc;
  color: #333;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

/* Pie de página */
.report-section-admin {
  grid-column: span 2;
  background: #f9efe3;
  padding: 20px;
  text-align: center;
  gap: 10px;
}

.report-section-admin button {
  background: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px;
}

.report-section-admin button:hover {
  background: #333;
}

.report-section-admin input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.report-section-admin .date-section-container {
  display: flex;
  justify-content: center;
}

.date-section-admin {
  display: flex;
  flex-direction: column;
  color: #333;
}

.hidden-admin {
  display: none;
}

.container-admin.sidebar-admin-hidden {
  grid-template-columns: 1fr;
}

.arrow-open-admin {
  top: 20px;
  left: 20px;
  width: 30px; /* Adjust the size as needed */
  cursor: pointer;
}
